*.py[oc]
*.so
# setup.py working directory
build
# setup.py dist directory
dist
# Editor temporary/working/backup files
*$
.*.sw[nop]
.sw[nop]
*~
[#]*#
.#*
*.bak
*.tmp
*.tgz
*.rej
*.org
.project
*.diff
.settings/
*.svn/
# Egg metadata
*.egg-info
# The shelf plugin uses this dir
./.shelf
# Mac droppings
.DS_Store
# Coverage report
.coverage

.waf-*
.lock-*
*.o
joblib
bin/*
*.prof
jobstore
precomputed.dat

/resources

# Results of templates
src/butterfly.c
src/butterfly.h
c/legendre_transform.c

# Common debug files
*.s


/wavemoth/cl/legendre_transform.cl
